mixin form(alert)
  form.mdl-grid(action=(alert ? `/${alert.id}` : '/') method='post')
    .mdl-cell.mdl-cell--12-col
      .mdl-card.mdl-shadow--2dp
        .mdl-card__supporting-text
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input#date.mdl-textfield__input(
              name='date'
              type='date'
              readonly=(typeof(alert) !== 'undefined')
              required
              pattern='(([12]\\d{3}[-/.]((0[1-9]|1[0-2])|([1-9]))[-/.]((0[1-9]|[12]\\d|3[01])|([1-9])))|(((0[1-9]|1[0-2])|([1-9]))[-/.]((0[1-9]|[12]\\d|3[01])|([1-9]))[-/.](([12]\\d{3})|(\\d{2}))))'
              min=((new Date()).toISOString().substr(0, 10))
              value=(alert && alert.date.toISOString().substr(0, 10))
            )
            label.mdl-textfield__label(for='date') Date
            span.help Date should be Y/M/D or M/D/Y, e.g.
              code.example 2018-12-21

          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input#from.mdl-textfield__input(
              name='from'
              type='text'
              readonly=(typeof(alert) !== 'undefined')
              required
              pattern='($^)|([A-Za-z]{3})'
              maxlength='3'
              value=(alert && alert.from)
            )
            label.mdl-textfield__label(for='from') From
            span.help The three-letter airport code, e.g.
              code.example CLE

          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input#to.mdl-textfield__input(
              name='to'
              type='text'
              readonly=(typeof(alert) !== 'undefined')
              required
              pattern='[A-Za-z]{3}'
              maxlength='3'
              value=(alert && alert.to)
            )
            label.mdl-textfield__label(for='to') To
            span.help The three-letter airport code, e.g.
              code.example SEA

          if (alert && (alert.alertType && alert.alertType == ALERT_TYPES.SINGLE)) || (alertType && alertType == ALERT_TYPES.SINGLE)
            input(type="hidden" name="alertType" value=ALERT_TYPES.SINGLE)
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input#number.mdl-textfield__input(
                name='number'
                type='text'
                readonly=(typeof(alert) !== 'undefined')
                required
                pattern='[\\d,\\s*]+'
                value=(alert && alert.number)
              )
              label.mdl-textfield__label(for='number') Flight number(s)
              span.help If the flight has one or more stops, separate flight numbers with a comma, e.g.
                code.example 123, 456
          else
            input(type="hidden" name="alertType" value=ALERT_TYPES.DAY)

          .bookingType
            label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='cash')
              input(
                type="radio" 
                id="cash" 
                class="mdl-radio__button" 
                name="bookingType" 
                value="cash"
                disabled=(typeof(alert) !== 'undefined')
                checked=(!alert || (alert && !alert.isPointsBooking))
              )
              span.mdl-radio__label Cash

            label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='points')
              input(
                type="radio" 
                id="points" 
                class="mdl-radio__button" 
                value="points"
                name="bookingType" 
                disabled=(typeof(alert) !== 'undefined')
                checked=(alert && alert.isPointsBooking)
              )
              span.mdl-radio__label Points

          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input#price.mdl-textfield__input(
              name='price'
              type='number'
              required
              value=(alert && alert.price)
            )
            label.mdl-textfield__label(for='price') Price threshold
            span.help Price to alert if below, e.g.
              if (!alert || (alert && !alert.isPointsBooking))
                code.example 175
              else
                code.example 5000

          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input#phone.mdl-textfield__input(
              name='phone'
              type='tel'
              disabled=!smsIsEnabled
              pattern='\\^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$'
              value=(alert && alert.phone || undefined)
            )
            label.mdl-textfield__label(for='phone') Phone number
            span.help Optional, number to text alert, e.g.
              code.example 2223334444

          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.last-field
            input#toEmail.mdl-textfield__input(
              name='toEmail'
              type='email'
              disabled=!mgIsEnabled
              value=(alert && alert.toEmail || undefined)
            )
            label.mdl-textfield__label(for='toEmail') Email
            span.help Optional, email address to email alert, e.g.
              code.example name@example.com

        .mdl-cell.mdl-cell--12-col
          .mdl-card__actions.mdl-card--border
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(type='submit')= alert ? 'Save changes' : 'Create alert'
            a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/') Cancel
