extends layout.pug

include header.pug

block content
  if alerts.length
    +header("Welcome back " + auth.user +"!")
      if auth.isAdmin
        p Note that as the administrator, you can see all alerts.
  else
    +header("Welcome " + auth.user +"!")
      p Click on the + icon on the bottom right to create your first alert.
  if alerts.length
    each alert in alerts
      .mdl-cell.mdl-cell--12-col
        .mdl-card.mdl-shadow--2dp.flight
          if !alert.fetchingPrices && alert.latestPrice === Infinity
            a.mdl-card__actions.mdl-card--border.flight-notification(href='/' + alert.id + '/edit')
              | Couldn't fetch price. Double-check inputs!
          if alert.priceHasDropped
            a.mdl-card__actions.mdl-card--border.flight-notification(href='/' + alert.id)
              | Price drop alert! Re-book and save $#{alert.price - alert.latestPrice}!
          .mdl-card__supporting-text
            .call-signs
              span.ticket= alert.from
              i.material-icons flight_land
              span.ticket= alert.to
            .flight-info
              if alert.alertType == ALERT_TYPES.SINGLE
                .info-group
                  span Flight #
                  br
                  span.ticket= alert.formattedNumber
              .info-group
                span Date
                br
                span.ticket= alert.formattedDate

          a.mdl-card__actions.mdl-card--border.flight-prices(href='/' + alert.id)
            .info-group
              span.price= '$' + alert.price
              br
              span.description you paid
            if alert.latestPrice < Infinity
              .info-group
                span.price= '$' + alert.latestPrice
                br
                span.description currently

  .bottom-right
    #add-menu.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
      i.material-icons add

    ul.mdl-menu.mdl-menu--top-right.mdl-js-menu.mdl-js-ripple-effect(data-mdl-for='add-menu')
      li
        a.mdl-menu__item(href='/new-single') Specific Flight
      li
        a.mdl-menu__item(href='/new-day') Specific Day
