extends layout.pug

block content
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      .mdl-card.wide-card.mdl-shadow--2dp.flight
        if !alert.everChecked
          a.mdl-card__actions.mdl-card--border.flight-notification(href='/' + alert.id)
            | Fetching price... Reload the page in a few minutes
        if alert.everChecked && alert.latestPrice === Infinity
          a.mdl-card__actions.mdl-card--border.flight-notification(href='/' + alert.id + '/edit')
            | Couldn't fetch price. Double-check inputs!
        .mdl-card__supporting-text
          .call-signs
            span.ticket= alert.from
            i.material-icons flight_land
            span.ticket= alert.to
          .flight-info
            if alert.alertType == ALERT_TYPES.SINGLE
              .info-group
                span Flight #
                br
                span.ticket= alert.formattedNumber
            .info-group
              span Date
              br
              span.ticket= alert.formattedDate

          .graph!= graph
        .mdl-card__actions.mdl-card--border.flight-prices
          .info-group
            span.price= '$' + alert.price
            br
            span.description you paid
          if alert.latestPrice < Infinity
            .info-group
              span.price= `$${alert.latestPrice}`
              br
              span.description currently
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent(href=`/${alert.id}/edit`) Edit
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href=`/${alert.id}/delete`) Delete


