extends layout.pug

block content
  style.
    .from-to {
      color: #3B61AB;
      font-family: 'PT Mono', 'monospace';
      font-size: 24px;
    }

    table.price td {
      padding: 0 10px 0 0;
    }

    .buttons {
      margin-bottom: 40px;
    }
    .edit-button {
      background: #ffca4f;
    }
    .delete-button {
      background: #d5152e;
      color: white;
    }


  h3 Alert details

  div.date= alert.formattedDate
  div.user= `User: ${alert.user}`
  if alert.formattedPhone !== ""
    div.phone= `Texting: ${alert.formattedPhone}`
  if alert.formattedEmail !== ""
    div.to_email= `Emailing: ${alert.formattedEmail}`
  if alert.formattedPhone === "" && alert.formattedEmail === ""
    div.no-notifications No notifications
  br

  div.from-to= `${alert.from}-${alert.to}`
  div.flight= alert.formattedNumber
  br

  table.price
    tbody
      tr
        td Current price
        td= alert.latestPrice === Infinity ? 'Updating... *' : `$${alert.latestPrice}`
      tr
        td Alert price
        td $#{alert.price}
      tr
        td= alert.latestPrice === Infinity ? '*' : ''
        td= alert.latestPrice === Infinity ? 'Verify correct information if not updated after refresh' : ''

  div.graph!= graph

  div.buttons
    a.button.edit-button(href=`/${alert.id}/edit`) Edit
    div.button-spacer
    a.button.delete-button(href=`/${alert.id}/delete`) Delete


