extends layout.pug

block content
  .mdl-grid.mdl-cell--2-col.mdl-cell--4-col-tablet.mdl-cell--12-col-phone
    .mdl-cell.mdl-cell--12-col
      .mdl-card.mdl-shadow--2dp.flight
        .mdl-card__supporting-text
          .call-signs
            span.ticket= alert.from
            i.material-icons flight_land
            span.ticket= alert.to
          .flight-info
            .info-group
              span Flight #
              br
              span.ticket= alert.formattedNumber
            .info-group
              span Date
              br
              span.ticket= alert.formattedDate

          .graph!= graph
        .mdl-card__actions.mdl-card--border.flight-prices
          .info-group
            span.price= '$' + alert.price
            br
            span.description you paid
          if alert.latestPrice < Infinity
            .info-group
              span.price= alert.latestPrice === Infinity ? 'Updating...' : `$${alert.latestPrice}`
              br
              span.description currently
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent(href=`/${alert.id}/edit`) Edit
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href=`/${alert.id}/delete`) Delete


